@charset "UTF-8";

body {
    background-color: rgb(11, 227, 220);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(2, 130, 123);
}



